img
{
  border-radius: 25px;
}
figure
{
  border-radius: 25px;
  display: none;
  position: relative;
  padding-bottom: 15px;
}
body
{
  background-image: url("Theme.png");
}

.visible
{
  border-radius: 25px;
  display: block;
  position: relative;
  float: left;
  padding: 100;
}
#asd
{
  border-radius: 25px;
  border: 5px darkblue;
  border-style: groove;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}
q
{
  display: none;
  position: relative;
}
.visible1
{
  display: block;
  position: relative;
}
.visible2
{
  border-radius: 25px;
  display: block;
  position: relative;
  float: right;
  padding: 100;
}
figcaption
{
  padding: 15;
  font-size: 25;
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
  color: black;
}
header
{
  background-color: rgba(0,0,200,0.3);
  padding: 40;
  padding-top: 20;
}
#qe
{
  float: right;
  padding-left: 10;
  padding-right: 10;
  padding-top: 10;
  display: inline;
}
.qq > a
{
  color: red;
  padding-left: 10;
}

.qq
{
  display: inline;
}
#qw
{
  float:left;
}
.block
{
    margin-top: 30;
}
header > h1
{
  font-size: 45;
  color: black;
  font-family: algerian;
}
#trans > p
{
  font-size: 25;
  font-family: cursive;
  padding: 10;
  font-style: italic;
  font-weight: bold;
  color: #34495E;
}
#uni
{
  float:right;
  display: none;
  font-family: cursive;
  font-size: 15;
}
.h
{
  background-color:white;
  border-radius: 8px;
  opacity: 20%;
}
#rty:hover #uni
{
  display:block;
}
#rty{
  color: red;
}
#trans
{
  background-color: rgba(100, 100, 100, 0.5);
  margin:20;
  margin-top: 40;
  margin-bottom: 10;
  border-radius: 15px;
}
.footer
{
  background-color: rgba(300,0,0,0.3);
  overflow: auto;
  clear: both;
}
.footer > section > a
{
  padding: 10;
  padding-top: 30;
  float: left;
}
.footer > section > q
{
  padding-left: 300;
  float: left;
}
